mixin article(page, title, imgPath, text)
	- if (page == "home") {
		section.article
			h2 #{title}
			img.article-img(src=imgPath)
			p
				| #{text}
	- }
	- else if (page == "about") {
		section.article-about
			h2 #{title}
			p
				| #{text.p1}
			p
				| #{text.p2}
			p
				| #{text.p3} 
	- }
	- else if (page == "products") {
		section.article
			h2 #{title}
			img.article-img(src=imgPath)
			p
				| #{text}
	- }
